
p, ol, ul, li, a, h1, h2, h3, h4, h5 {
font-family: Tahoma, Geneva, sans-serif;
}


.jumbotron img {
	width: 100%;
}

.jumbotron {
	margin-top:52px;
}

.navbar-nav {
        width: 100%;
        text-align: center;
        > li {
                float: none;
                display: inline-block;
          }
        }

.row {

	margin-top: 80px;
	padding: 25px;	

}


.col-md-4 {
	padding: 25px;
	margin-top:80px;

}

.rep {

	margin-top:100px !important;
	width: 600px;
	margin:auto;
	overflow:hidden;	
}

.rep h1 {
	text-align:center;
}
.rep h4 {
	margin-top:5px;
	padding:5px;
	background: #222;
	color: grey;
}
.footer{
	background-color:#222;
	width:20px;
}
ul {
	list-style:none;
}

ul li {
	margin-top: 10px;
	margin-bottom: 10px;

}
.homepage_text {
	margin-left: auto;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
   }


