
.jumbotron img {
	width: 100%;
}

.jumbotron {
	margin-top:52px;
}

.navbar-nav {
        width: 100%;
        text-align: center;
        > li {
                float: none;
                display: inline-block;
          }
        }

.row {

	margin-top: 80px;
	padding: 25px;	

}


.col-md-4 {
	padding: 25px;
	margin-top:80px;

}

.rep {

	margin-top:100px !important;
	width: 600px;
	margin:auto;
	overflow:hidden;	
}

.rep h1 {
	text-align:center;
}
.rep h4 {
	margin:0;
	padding:5px;
	background: #f4f4f4;
}




.homepage_text {
	margin-left:auto;
}

.footer {
    
    left: 0;
    bottom: 0;
    height:20px;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;

}


