p, ol, ul, li, a, h1, h2, h3, h4, h5 {
	font-family: Tahoma, Geneva, sans-serif;
}

.jumbotron img {
	width: 100%;
}

.jumbotron {
	margin-top:52px;
	background-color: #c1f0c1;
}

.thumbnail {
	border:none;
	background-color: #c1f0c1;

}

.navbar-nav {
        width: 100%;
        text-align: center;
        > li {
                float: none;
                display: inline-block;
          }
        }

.row {

	margin-top: 80px;
	padding: 25px;	
}

.col-md-4 {
	padding: 25px;
	margin-top:80px;

}

.rep {

	margin-top:100px !important;
	width: 600px;
	margin:auto;
	overflow:hidden;	
}

.rep h1 {
	text-align:center;
	margin-top:35px;
}

.rep h4 {
	margin-top:5px;
	padding:5px;
	background: #222;
	color: white;
}

ul {
	list-style:none;
}

ul li {
	margin-top: 10px;
	margin-bottom: 10px;

}
.intro_text {
	background-color: #c1f0c1;
	margin-left: auto;
}

.container-flexible {
	background-color:#c1f0c1;
}

html {
	background-color:#c1f0c1;
}

