{% extends "layout.html"%}
{%block content%}


<div class="row">


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/woodland_habitat.jpg" alt="Image of the Scottish woodland habitat">
      <div class="caption">
        <h3>Woodland Habitat</h3>
        <p>  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Woodland Habitat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Our native woodlands are one of the most characteristic elements of the Scottish landscape.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
	 </p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/seas_habitat.jpg" alt="Image of the Scottish Coast">
      <div class="caption">
        <h3>Coast and Seas</h3>
        <p> <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Coast and Seas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <p>Wherever you are in Scotland, you’re never more than 65km from our dramatic, varied and highly productive coast and seas.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>   </p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/urban_habitat.jpg" alt="Image of the urban habitat in Scotland">
      <div class="caption">
        <h3>Urban Habitat</h3>
        <p>     <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Urban Habitat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
               <p>Urban greenspace and green networks support varied wildlife and give people ways to enjoy nature close to cities and towns. </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>       </p>
      </div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/farmland_habitat.jpg" alt="Image of the Scottish farmland habitat">
      <div class="caption">
        <h3>Farmland and Croftland</h3>
        <p>      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Farmland and Croftland</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <p>Generations of farmers and crofters have helped create much of the variety and interest of Scotland’s landscapes, habitats and wildlife.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>         </p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/wetland_habitat.jpg" alt="Image of the wetlands habitat">
      <div class="caption">
        <h3>lochs, rivers and wetlands </h3>
       
        <p>     <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Loch, rivers and wetlands</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <p>High rainfall and a rugged, glaciated landscape make Scotland rich in freshwater and wetland habitats.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>     </p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/mountain_habitat.jpg" alt="Image of the mountain habitat">
      <div class="caption">
        <h3>Mountains, heaths and bogs</h3>
        <p>  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Description
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Mountains, heaths and bogs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Scotland’s mountains and moorlands, which cover about 60% of our land, form Britain’s largest remaining area of largely undeveloped wildlife habitat.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>    </p>
      </div>
    </div>
  </div>


</div>


{% endblock %}
