{% extends "layout.html"%}
{%block content%}


<div class="row">


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/woodland_habitat.jpg" height="580" width="330" alt="Image of the Scottish woodland habitat">
      <div class="caption">
        <h3>Woodland Habitat</h3>
        <p>Our native woodlands are one of the most characteristic elements of the Scottish landscape.</p>
        <p><a href="#" class="btn btn-primary" role="button">Wild life species</a></p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/seas_habitat.jpg" alt="Image of the Scottish Coast">
      <div class="caption">
        <h3>Coast and Seas</h3>
        <p>Wherever you are in Scotland, you’re never more than 65km from our dramatic, varied and highly productive coast and seas.</p>
        <p><a href="#" class="btn btn-primary" role="button">Wild life species</a></p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/urban_habitat.jpg" alt="Image of the urban habitat in Scotland">
      <div class="caption">
        <h3>Urban Habitat</h3>
        <p>Urban greenspace and green networks support varied wildlife and give people ways to enjoy nature close to cities and towns. </p>
        <p><a href="#" class="btn btn-primary" role="button">Wild life species</a></p>
      </div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/farmland_habitat.jpg" alt="Image of the Scottish farmland habitat">
      <div class="caption">
        <h3>Farmland and Croftland</h3>
        <p>Generations of farmers and crofters have helped create much of the variety and interest of Scotland’s landscapes, habitats and wildlife.</p>
        <p><a href="#" class="btn btn-primary" role="button">Wild life species</a></p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/wetland_habitat.jpg" alt="Image of the wetlands habitat">
      <div class="caption">
        <h3>lochs, rivers and wetlands </h3>
        <p>High rainfall and a rugged, glaciated landscape make Scotland rich in freshwater and wetland habitats.</p>
        <p><a href="#" class="btn btn-primary" role="button">Wild life species</a></p>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../static/img/mountain_habitat.jpg" alt="Image of the mountain habitat">
      <div class="caption">
        <h3>Mountains, heaths and bogs</h3>
        <p>Scotland’s mountains and moorlands, which cover about 60% of our land, form Britain’s largest remaining area of largely undeveloped wildlife habitat.</p>
        <p><a href="#" class="btn btn-primary" role="button">Wild life species</a> </p>
      </div>
    </div>
  </div>


</div>


{% endblock %}
