{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
        <img class="img-responsive" alt="A photo of scottish landscape" src="../static/img/scottish_landscape.jpg" />
</div>



<div class="homepage_text">
<center><h1> Welcome To The Scottish Wildlife App!  </h1></center>

<center>
<div class="intro_text">

<p>Scotland has a rich and diverse natural history which attracts thousands of wildlife-enthusiasts each year.<br>

Scotland’s land, seas and skies support a wide range of native mammals and birds,<br> as well as six amphibians, four reptiles and over 50,000 different invertebrates.    </p>

</div>
</center>

</div>

















{% endblock %}
