<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content=IE=edge">
	<meta name="description" content="Scottish Wildlife App">
	<meta name="author" content="Haroen Ahmed">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scottish Wildlife App</title>
	<link href="{{url_for('static', filename='css/main.css')}}"  rel="stylesheet" >
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" >
	<link rel="icon" type"image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" >	
</head>
<body>

<div class="container-flexible">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('index')}}">Scottish Wildlife</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{% if active=='index' %} active{%endif%}"  ><a href="{{url_for('index')}}">Home</a></li>
        <li class="{% if active=='habitat' %} active{%endif%}"><a href="{{url_for('habitat')}}">Habitats</a></li>
        <li class="{% if active=='reptiles' %} active{%endif%}"><a href="{{url_for('reptiles')}}">reptiles</a></li>
	<li class="{% if active=='mammals' %} active{%endif%}"><a href="{{url_for('mammals')}}">Mammals</a></li>
	<li class="{% if active=='birds' %} active{%endif%}"><a href="{{url_for('birds')}}">Birds</a></li>
	<li class="{% if active=='amphibian' %} active{%endif%}"><a href="{{url_for('amphibian')}}">Amphibians</a></li>
      </ul>
    </div>
  </div>
</div>


{% block content%}
{%  endblock %}



	
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"</script>
<script src="{{url_for('static', filename='js/bootstrap.js')}}"</script>
</body>
</html>

 
