{% extends "layout.html" %}
{% block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<style>



.rep {
        margin-top:100px;
        width: 600px;
        margin:auto;
        overflow:hidden;
}

.rep h1 {
        text-align:center;
}
.rep h4 {
        margin:0;
        padding:5px;
        background: #f4f4f4;

}



</style>
<div class="rep">
<h1> Reptiles in Scotland </h1>
<ul>


	{% for reptiles  in data["reptiles"] %}



	<h4> {{ reptiles.name }} </h4>
	<li> {{ reptiles.desc }} </li>
	


	{% endfor %}


</ul>

</div>
{% endblock %}
